.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #222222;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu-boton {
    background-color: #222222;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 20px;  /* Ajusta este valor para bajar la imagen */
}

@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-boton {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.menu {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
}


.menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #444;
}

.menu-imagen {
    max-width: 4%; 
    height: auto; 
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;  /* Ajusta este valor para bajar la imagen */
}


@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-imagen {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.nombre_esc {
    color: white;
    font-size: 2.5vw;
    padding: 20px;
    text-align: center;
    margin-left: 150px; /* Aumenta este valor para mover más a la derecha */
}


@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .nombre_esc {
        font-size: 5vw; /* Aumenta el tamaño en dispositivos móviles */
    }
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 150vh; 
    background-color: #f4f4f4;
    margin-top: 100px; 
}



.bienvenida {
    text-align: center;
    margin-top: 2%; 
}


.bienvenida-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.foto_presentacion {
    max-width: 100%; 
    height: auto; 
    border-radius: 7px;
}



.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Esto separa un poco la imagen del texto */
}

.footer a {
    color: white; /* Asegura que el texto sea blanco */
    display: flex;
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    text-decoration: none; /* Quita el subrayado del enlace */
}

.footer img {
    margin-right: 5px; /* Agrega un pequeño espacio entre la imagen y el texto */
}

