.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #222222;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu-boton {
    background-color: #222222;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    margin-top: 20px;  /* Ajusta este valor para bajar la imagen */
}

@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-boton {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.menu {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 20px;
}


.menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #444;
}

.menu-imagen {
    max-width: 4%; 
    height: auto; 
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;  /* Ajusta este valor para bajar la imagen */
}


@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .menu-imagen {
        max-width: 60px;  /* Aumenta el tamaño en dispositivos móviles */
    }
}

.nombre_esc {
    color: white;
    font-size: 2.5vw;
    padding: 20px;
    text-align: center;
    margin-left: 150px; /* Aumenta este valor para mover más a la derecha */
}


@media (max-width: 768px) { /* Ajuste para pantallas pequeñas */
    .nombre_esc {
        font-size: 5vw; /* Aumenta el tamaño en dispositivos móviles */
    }
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 150vh; 
    background-color: #f4f4f4;
    margin-top: 100px; 
}


.header {
    grid-column: span 3; /* Hace que el encabezado ocupe las tres columnas */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio entre el encabezado y los botones */
}

.botonera-rectangulo {
    display: grid; /* Cambia de flex a grid para un diseño en columnas */
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual ancho */
    gap: 20px; /* Espacio entre los botones */
    margin: 20px auto;
    padding: 50px;
    background-color: #eaeaea;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.botonera-rectangulo button {
    padding: 15px 50px; /* Ajusta el tamaño del botón */
    background-color: #f32723;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%; /* Asegura que los botones ocupen todo el ancho de la celda */
}

.botonera-rectangulo button:hover {
    background-color: #a82020;
}